.input {
    position: relative;
    min-height: 43px;
    width: auto;
    background-color: #232323;
    display: flex;
    flex-direction: row;
    margin: 10px 0 80px 0;
    border-radius: 10px;
}

.input::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px; 
    padding: 2px; 
    background: linear-gradient(45deg, rgba(217,75,132,1), rgba(17,133,140,1)); 
    mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; 
}

.run-button {
    color: white;
    background-color: #11858C;
    width: 145px;
    height: auto;
    border: none;
    font-size: large;
    font-weight: 500;
    border-radius: 0 10px 10px 0; 
    font-family: "Fira code", "Fira Mono", monospace;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.run-button:before {
    content: '';
    background: linear-gradient(45deg, rgba(17,133,140,1), rgba(217,75,132,1), rgba(17,133,140,1));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 0 10px 10px 0;
}

.run-button:active {
    color: #000
}

.run-button:active:after {
    background: transparent;
}

.run-button:hover:before {
    opacity: 1;
}

.run-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #11858C;
    left: 0;
    top: 0;
    border-radius: 0 10px 10px 0; 
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}